[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "argonDash"]
	path = argonDash
	url = https://github.com/rinterface/argondash
[submodule "argonR"]
	path = argonR
	url = https://github.com/rinterface/argonr
[submodule "bs4Dash"]
	path = bs4Dash
	url = https://github.com/rinterface/bs4dash
[submodule "shinyEffects"]
	path = shinyEffects
	url = https://github.com/rinterface/shinyeffects
[submodule "shinyMobile"]
	path = shinyMobile
	url = https://github.com/rinterface/shinymobile
[submodule "shinyNextUI"]
	path = shinyNextUI
	url = https://github.com/rinterface/shinynextui
[submodule "shinydashboardPlus"]
	path = shinydashboardPlus
	url = https://github.com/rinterface/shinydashboardplus
[submodule "tablerDash"]
	path = tablerDash
	url = https://github.com/rinterface/tablerdash
